style
    //include settings.css
div.settings__left

    #optionsList.m-0(style='padding: 0px 35px 0 20px')
        //a(href='#')
        //    b.my-2 Settings
        //    img.rotate(src='components/main/modal_popup/img/arrow.png')
        button.btn.btn-link(type="button" data-toggle="collapse" data-target="#options-list" aria-expanded="false" aria-controls="options-list")
            span Settings
            include ../../../img/modal_popup/angle.svg
        .collapse.show#options-list
            .card.card-body
                ul()
                    li.bild-none
                        label
                            input(type='checkbox', name='option3', value='a3')
                            span Screenshots of your messages
                            span.checkmark

                    li.bild-none
                        label
                            input(type='checkbox', name='option3', value='a3')
                            span Show status
                            span.checkmark

                    li.bild-none
                        label
                            input(type='checkbox', name='option3', value='a3')
                            span Visibility in the “People nearby”
                            span.checkmark

                    li.bild-none
                        label
                            input(type='checkbox', name='option3', value='a3')
                            span Visibility in the “Nearby channels”
                            span.checkmark
                    li
                        label
                            button.btn.btn-primary.btn-block(type="button", name="change_download") Change directory for files

                    li.bild-none
                        label
                            button.btn.btn-secondary.btn-block(type="button", name="encrypt_database") Encrypt database

                    li.bild-none
                        label
                            button.btn.btn-secondary.btn-block(type="button", name="decrypt_database") Decrypt database

                        //input(type="file", name="change_download", dir="", id="download_file")
                        //label.input-file-trigger(tabindex='0', for='download_file') Change directory for files




    div.settings__menu.bild-none
        strong.my-2.d-block.p-20 Basic options
        ul.nav.nav_menu
            li.active
                button(
                    type="button"
                    data-toggle="nav"
                    data-nav="settings"
                    data-name="settings_identification"
                )
                    //img(src='img/settings/ident.png', width='40', height='40')
                    include ../../../img/settings/icons/ident.svg
                    p Identification
            li
                button(
                    type="button"
                    data-toggle="nav"
                    data-nav="settings"
                    data-name="settings_mySubscriptions"
                )
                    //img(src='img/settings/myPurSub.png', width='40', height='40')
                    include ../../../img/settings/icons/myPurSub.svg
                    p My subscriptions
            li
                button(
                    type="button"
                    data-toggle="nav"
                    data-nav="settings"
                    data-name="settings_released_subscriptions"
                )
                    //img(src='img/settings/relSub.png', width='40', height='40')
                    include ../../../img/settings/icons/relSub.svg
                    p Released subscriptions
            li
                button(
                    type="button"
                    data-toggle="nav"
                    data-nav="settings"
                    data-name="settings_black_list"
                )
                    //img(src='img/settings/blackList.png', width='40', height='40')
                    include ../../../img/settings/icons/blackList.svg
                    p Black list
            li
                button(
                    type="button"
                    data-toggle="nav"
                    data-nav="settings"
                    data-name="settings_my_stickers"
                )
                    //img(src='img/settings/myStickers.png', width='40', height='40')
                    include ../../../img/settings/icons/myStickers.svg
                    p My stickers
            li
                button(
                    type="button"
                    data-toggle="nav"
                    data-nav="settings"
                    data-name="settings_connected_devices"
                )
                    //img(src='img/settings/devices.png', width='40', height='40')
                    include ../../../img/settings/icons/devices.svg
                    p Connected devices & sessions

div.walletRight.settings__right.custom-scrollbar.bild-none
    div(data-right-content="")
        include settings_identification
//script
//    include settings.js
