tr.table_02_history.t02
    td.td_namb #{mine?"out":"in"}
    td.blue_font(class='td-token') #{p_opponent}
    //td.grey_font #{operation} Transaction
    td.grey_font #{amount} Coin
    td.blue_font #{id}
    //td.grey_font #{gas} Coin
    //td.grey_font #{status} Sent
    td.td_history_time.grey_font #{p_time.date}
        br
        | #{p_time.time}
