tr.table_02
    th(scope='row' class='token-avatar')
        img(src=avatar width='40' height='40')
    td #{name}
    td(class='td-token') #{contract_address}
    td #{amount}
    td #{link_info}
        a Channel link
    //td status