style
    include chats.css
li(id=id data-domain=domain data-type=type data-contract_address=contract_address class=""+(active?"active_dialog":""))
    a(href='#/user/'+id)
        img(src=avatar, width='40', height='40')
        if type==='user_chat'
            span(class="stateLabel "+(online?"online":"offline"))
        p #{name}
        if file
            if file.type='image'
                | файл картинка
                img(src=file.file)
            else
                | файл
                img(src='#')
