li(id=address data-domain=domain data-type=type)
    a(href='#/user/'+address)
        img(src=avatar, width='40', height='40')
        if type==='user_chat'
            span(class="stateLabel "+online)
        p #{full_name}
