li(id=id data-domain=domain data-type=type data-contract_address=contract_address class=""+(active?"active_dialog":""))
    a.userchat(href='#/user/'+id)
        .userchat__avatar
            img.rounded-circle(src=avatar, width='40', height='40')
            if type==='user_chat'
                span.userchat__status(class="stateLabel "+(online?"online":"offline"))
        .userchat__text
            .userchat__header
                h3.userchat__name #{name}
                if time
                    .userchat__date #{time}
            .userchat__body
                if text
                    .userchat__lastmessage #{text}
                .badge.badge-pill 99+
