li(id=id data-domain=domain data-type=type data-contract_address=contract_address class=""+(active?"active_dialog":""))
    a.userchat(class=type)
        .userchat__avatar
            img.rounded-circle(src=avatar, width='40', height='40')
            if type==='user_chat'
                span.userchat__status(class="stateLabel "+(online?"online":"offline"))
            //if type==='channel'
            //    span.userchat__status.userchat__status_channel
            //        include ../../../../img/icons/channel.svg
        .userchat__text
            .userchat__header
                if type==='channel'
                    h3.userchat__name
                        include ../../../../img/icons/channel.svg
                        | #{name}
                else
                    h3.userchat__name #{name}
                .userchat__date(data-name="chat_last_time") #{time && time !== 1?time:''}
            .userchat__body
                .userchat__lastmessage(data-name="chat_last_text")
                    if text
                        | #{text}
                    else
                        span(style="opacity:0") 123
                //if (unread_messages !== 0)
                .badge.badge-pill(data-name="unread_messages" style=unread_messages!==0?'':'display:none;') #{unread_messages}