li(id=id data-domain=domain data-type=type)
    a(href='#/user/'+id)
        img(src=avatar, width='40', height='40')
        if type==='user_chat'
            span(class="stateLabel "+online)
        p #{name}
