li(id=id data-domain=domain data-type=type data-contract_address=contract_address class=""+(active?"active_dialog":""))
    a.userchat
        .userchat__avatar
            img.rounded-circle(src=avatar, width='40', height='40')
            if type==='user_chat'
                span.userchat__status(class="stateLabel "+(online?"online":"offline"))
        .userchat__text
            .userchat__header
                h3.userchat__name #{name}
                .userchat__date(data-name="chat_last_time") #{time && time !== 1?time:''}
            .userchat__body
                .userchat__lastmessage(data-name="chat_last_text") #{text?text:''}
                //.badge.badge-pill 99+
