.modal-header.modal-header_img
    .row.align-items-end
        .col-3
            .modal-header__img
                include ../../../img/icons/camera-solid.svg
        .col-9
            .modal-header__name
                input.form-control(name="name" type="text" placeholder="Enter channel name (min 3, max 30 characters)" data-require="true" maxlength="30" data-toggle="tooltip2" title="min 3, max 30 characters")
            .modal-header__category.text-center.bild-none
                .custom-control-vertical.custom-control-inline.custom-radio.d-none
                    input.custom-control-input#group(type="radio" name="openPrivate" value="off")
                    label.custom-control-label.custom-control-label_icon(for="group")
                        div.icon
                            include ../../../img/modal_popup/group.svg
                        span Group Chat
                .custom-control-horizontal.custom-control-inline.custom-radio
                    input.custom-control-input#free(type="radio" name="openPrivate" value="off" checked)
                    label.custom-control-label(for="free")
                        span Free channel
                .custom-control-horizontal.custom-control-inline.custom-radio
                    input.custom-control-input#private(type="radio" name="openPrivate" value="on")
                    label.custom-control-label(for="private")
                        span Private channel
.modal-body
    .form-group
        textarea.form-control(placeholder="Channel information..." row="6")
    .form-group
        .collapse#token_row
            //- button.btn.btn-link(type="button" data-toggle="collapse" data-target="#crowdsale" aria-expanded="false" aria-controls="crowdsale")
            //-     span Token & crowdsale
            //-     include ../../../img/modal_popup/angle.svg
            .collapse.show#crowdsale
                //- .card.card-body
                .crowdsale.row(data-name="crowdsale")
                    .col-1.d-flex.align-items-center
                        .crowdsale__num 1
                    //-     label.crowdsale__label(for="s-price") Subscription price
                    .col
                        input.form-control.crowdsale__input#s-price(
                            type="text"
                            placeholder="Subscription price"
                            name="subscriptionPrice"
                            data-name="crowdsale__input"
                            data-require="true"
                            data-require-chars="num"
                            )
                    .col-3.align-self-center
                        .crowdsale__helper * 1$ = 1MnShrd
                .crowdsale.row(data-name="crowdsale")
                    .col-1.d-flex.align-items-center
                        .crowdsale__num 2
                    //-     label.crowdsale__label(for="t-name") Token name
                    .col
                        input.form-control.crowdsale__input#t-name(
                            type="text"
                            name="t-name"
                            placeholder="Token name"
                            data-name="crowdsale__input"
                            data-require="true"
                            minlength="3"
                            maxlength="16"
                            )
                    .col-3.align-self-center
                        .crowdsale__helper * 3-16 characters
                .crowdsale.row(data-name="crowdsale")
                    .col-1.d-flex.align-items-center
                        .crowdsale__num 3
                    //-     label.crowdsale__label(for="t-symbol") Token symbol
                    .col
                        input.form-control.crowdsale__input#t-symbol(
                            type="text"
                            name="t-symbol"
                            placeholder="Token symbol"
                            data-name="crowdsale__input"
                            data-require="true"
                            minlength="3"
                            maxlength="3"
                            )
                    .col-3.align-self-center
                        .crowdsale__helper * 3 characters
                .crowdsale.row(data-name="crowdsale")
                    .col-1.d-flex.align-items-center
                        .crowdsale__num 4
                    //-     label.crowdsale__label(for="t-supply") Total supply
                    .col
                        input.form-control.crowdsale__input#t-supply(
                            type="text"
                            name="totalSupply"
                            placeholder="Total supply"
                            data-name="crowdsale__input"
                            data-require="true"
                            data-require-chars="integer"
                            )
                    .col-3.align-self-center
                        .crowdsale__helper * enter the number of tokens
                .crowdsale.row(data-name="crowdsale")
                    .col-1.d-flex.align-items-center
                        .crowdsale__num 5
                    //-     label.crowdsale__label(for="t-deposite") Deposite
                    .col
                        input.form-control.crowdsale__input#t-deposite(
                            type="text"
                            placeholder="Deposite"
                            name="tokenDeposite"
                            data-name="crowdsale__input"
                            data-require="true"
                            data-require-chars="num"
                            )
                    .col-3.align-self-center
                        .crowdsale__helper * 1 token = 1$
    .form-group#popup_error(style="color:red; display:none;")
.modal-footer.justify-content-end
    button.btn.btn-link(type="button" data-dismiss="modal") Close
    button(type="submit" class="btn btn-primary", data-block=true) Создать
