//style
//    include modal-content.css
//.modal-header
//    h5.modal-title #{name}
//    button.close(type='button', data-dismiss='modal', aria-label='Close')
//        span(aria-hidden='true') ×

.modal-header.modal-header_img
    .modal-header__img
        img.rounded-circle(src=avatar)
    .modal-header__name
        h5.modal-title #{name}
    button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') ×
.modal-body.modal-body_userinfo
    .container-fluid
        .row.align-items-center.flex-nowrap
            .col-3 Username
            .col-6
                span#copyTo.d-inline.text-truncate.select-true #{id}
            .col-3.text-right
                button.copyButton.btn.btn-primary(type='button' )
                    include ../../../img/icons/copy-solid.svg
        .row.align-items-center.flex-nowrap
            .col-3 Firstname
            .col-6 #{firstname}
            .col-3
        .row.align-items-center.flex-nowrap
            .col-3 Lastname
            .col-6 #{lastname}
            .col-3
        if bio
            .row.align-items-center.flex-nowrap
                .col-3 Bio
                .col-6 #{bio}
                .col-3
        .row.align-items-center.flex-nowrap
            .col-3 Balance
            .col-6 #{eth_balance} Coin.
            .col-3
.modal-footer