style
    include modal-content.css
.modal-header
    h5.modal-title #{name}
    button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') ×
.modal-body
    .container-fluid
        .row
            .col-sm-3
                img.rounded-circle(src=avatar width = 128 height = 128)
            .col-sm-9

                table.table
                    tbody
                        tr
                            th(scope='row' ) Username
                            td#copyTo.select-true #{id}
                            td
                                input.copyButton(value='copy' type='button' )
                        tr
                            th(scope='row') Firstname
                            td #{firstname}
                            td
                        tr
                            th(scope='row') Lastname
                            td #{lastname}
                            td
if bio
    .modal-footer
        .container
            .row
                .col-sm-3
                    strong Bio
                .col-sm !{bio}

