li(class=mine?"outMessage":"inMessage")


    img.block(src = sender_avatar width = 44 height = 44)
    p  #{text}
        span.block #{time}
    if files
        each file in files
            if file.preview
                |
                div.imageOutputFile(data-type="file" data-subtype="image" data-id=file.id)
                    img(src=file.file  width="200")
                    span.d-block.w-100 #{file.name}
            else
                |
                div.docOutputFile(data-type="file" data-subtype="file" data-id=file.id)
                    img(src='components/main/messagingblock/img/doc.png' width="60px" )
                    span.d-block.w-100 #{file.name}
        //br

        //.loader
        //    .dot.dot1
        //        |
        //        .dot.dot2
        //        |
        //        .dot.dot3
        //        |
        //        .dot.dot4
