div.message(class=mine ? "message_out" : "message_in")
    .message__avatar
        img.rounded-circle.d-block(src = sender_avatar width = 44 height = 44)
    .message__bubble
        .message__text Transaction !{"\n"}
            //| Transaction
            | Amount: #{amount} Coin !{"\n"}
            a(href='http://blocks.moonshrd.io/tx/'+id) Block explorer
        //.message__text.message__text_transaction
        //    h3.h4 Transaction
        //    .transaction__send Amount: #{amount} Coin
        //    .transaction__id
        //        a(href='http://blocks.moonshrd.io/tx/'+id) Block explorer link
        .message__date.d-block #{time}
