li(class=mine?"outMessage":"inMessage")


  img.block(src = sender_avatar width = 44 height = 44)
  p  #{text}
    span.block #{time}
  if files
    each file in files
      if file.preview
        |
        div.imageOutputFile(data-type="file" data-subtype="image" data-id=file.id)
          img(src=file.file  width="200")
          span.d-block.w-100 #{file.name}
      else
        |
        div.docOutputFile(data-type="file" data-subtype="file" data-id=file.id)
          .docOutputFile__icon
            svg.svg-inline--fa.fa-download.fa-w-16(aria-hidden="true", data-prefix="fas", data-icon="download", role="img", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512 512")
              path(fill="currentColor", d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z")
            svg.svg-inline--fa.fa-spinner.fa-w-16(aria-hidden="true", data-prefix="fas", data-icon="spinner", role="img", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512 512")
              path(fill="currentColor", d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z")
            .stop &times;
          //img(src='components/main/messagingblock/img/doc.png' width="60px" )
          span.d-block.w-100 #{file.name}
    //br

    //.loader
    //    .dot.dot1
    //        |
    //        .dot.dot2
    //        |
    //        .dot.dot3
    //        |
    //        .dot.dot4
