div.message(class=mine ? "message_out" : "message_in")
    .message__avatar
        img.rounded-circle.d-block(src = sender_avatar width = 44 height = 44)
    .message__bubble.transaction
        .transaction__header
            h4.text-center.transaction__title Transaction !{"\n"}
            //- | Transaction
        .transaction__body Amount: #{amount} Coin !{"\n"}
        .transaction__footer.text-center
            a.btn.btn-secondary.btn-block(href='http://blocks.moonshrd.io/tx/'+id) Block explorer
            //- .message__date.d-block #{time}
        //- .message__text.message__text_transaction
        //-    h3.h4 Transaction
        //-    .transaction__send Amount: #{amount} Coin
        //-    .transaction__id
        //-        a(href='http://blocks.moonshrd.io/tx/'+id) Block explorer link
