div(class="head_peer" id="head_peer")
    a(class="peer_name" data-event="show_chat_info" href='#')
        if (id)
            img.rounded-circle(src=avatar width=44 height=44)
            span #{name}

    if (type === "channel")
        ul.block.nav.nav-tabs.nav-justified(role='tablist')
            li.nav-item
                a.nav-link.active(href='#chat', role='tab', data-toggle='tab') Chat
            li.nav-item
                a.nav-link(href='#references', role='tab', data-toggle='tab') Channel info
            li.nav-item
                a.nav-link(href='#buzz', role='tab', data-toggle='tab') Notifications
    else
        style(type='text/css').
            .messaging_history {
               margin-top: 0;
                max-height: calc(100% - 155px);
            }

    if (type==="user_chat" )

        div.block(class='dropDown_menu')
            ul
                //li
                //    a(data-id="")
                //        div(class='image')
                //            img(src="components/main/messagingblock/img/micr.png")
                li
                    a(data-id="")
                        div(class='image')
                            img(src="components/main/messagingblock/img/call.png")

                li

                    a(data-id="")


                        div(class='image')
                            img(src="components/main/messagingblock/img/videoCall.png")
                input(type="file" id="attachFileToChat" style="display:none" multiple)
                //li.attachFileToChat
                //
                //    a(data-id="")
                //        div(class='image')
                //            img(src="components/main/messagingblock/img/files.png")
                li
                    a(data-id="")
                        div(class='image')
                            img(src="components/main/messagingblock/img/dropDown_menu.png")
                    //ul.dropdownDoth
                    //    li(data-event="show_chat_info") Info
                    //    li Leave a channel
                    //    li Switch off notifications
                    //    li Write a message to administrator

    else if  (type === "channel")

        div(class='dropDown_menu')
            ul
                li
                    a(data-id="")
                        div(class='image')
                            img(src="components/main/messagingblock/img/micr.png")
                input(type="file" id="attachFileToGroup" style="display:none")
                li.attachFileToGroup

                    a(data-id="" )
                        //input(type="file" id="attachFile" style="display:none;")

                        div(class='image')
                            img(src="components/main/messagingblock/img/files.png")
                li
                    a(href='#')
                        div(class='image')
                            img(src="components/main/messagingblock/img/dropDown_menu.png")
                    ul.dropdownDoth
                        li(data-event="show_chat_info") Info
                        li Leave a channel
                        li Switch off notifications
                        li Write a message to administrator


div(class="messaging_history" id="messaging_history" )

    .tab-content
        #chat.tab-pane.fade.in.active.show(role='tabpanel')
            ul !{messages?messages:""}
            //ul

        #buzz.tab-pane.fade(role='tabpanel')
            .notifyBlock
                if events
                    each event in events
                        div(class='alert alertBg notice-'+event.type)
                            strong #{event.time}
                            |  #{event.text}
                //.alert.alertBg.notice-success
                //    strong Success!
                //    |  This alert box could indicate a successful or positive action.
                //    .alert.alertBg.notice-info
                //    strong Info!
                //    |  This alert box could indicate a neutral informative change or action.
                //.alert.alertBg.notice-danger
                //    strong Danger!
                //    |  This alert box could indicate a dangerous or potentially negative action.
                //.alert.alertBg.notice-primary
                //    strong Primary!
                //    |  Indicates an important action.


        #references.tab-pane.fade(role='tabpanel')
            style
                include modal-content.css

            //h5.modal-title.mt-4 #{chat_name}
            .modal-body
                .container
                    .row
                        .col-sm-3
                            img.rounded-circle(src=avatar width=128 height=128)
                        .col-sm
                            table.table
                                tbody
                                    tr
                                        th(scope='row') Channel name
                                        td #{name}
                                    tr
                                        th(scope='row') Token name
                                        td #{name}_token
                                    tr
                                        th(scope='row') Total supply
                                        td 100000

            .modal-footer
                .container
                    if (role !== "moderator")
                        .row
                            .col-sm-12
                                label Offer publication:
                        .row.align-items-center
                            .col-sm-8
                                textarea.form-control.noresize(rows="2" data-name="suggest_to_channel")

                            .col-sm-4
                                button(class='btn btn-primary col-sm-12' data-name="submit_suggest_to_channel") Suggest publication



div.send_message__block
    if (type === "join_channel" || type === "join_group_chat")
        include join_button
    else if (type === "user_chat" || type === "group" || (type === "channel" && role === "moderator"))
        button.send_message__file.attachFileToChat
            img(src="components/main/messagingblock/img/files.png")
        textarea(class="send_message__input"  placeholder="Write a text message")
        img.rounded-circle.send_message__img#upload_file(src='' alt="")
        button.send_message__voice(data-id="")
            img(src="components/main/messagingblock/img/micr.png")
        button(class="send_message__btn" data-translate-key="SEND_MESSAGE") отправить